h1{
   padding-top: 100px;
   padding-left: 3%;
   color: rgb(0, 0, 0);
   position: absolute;
}

.p2p1{
    color: #000;
    padding-left: 3%;
    position: absolute;
    padding-top: 150px;
    font-size: 18px;
}

.scbg{
    background-size:contain;
    background-color: rgb(255, 255, 255);
    position: relative;
    width: 100%;
    height: 2100px;
}

.ic12{
    position: absolute;
    z-index: 1;
}

.Img2{
    width: 94%;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    top: 240px;
}