
.scbg{
    background-color: rgb(255, 255, 255);
    position: relative;
    width: 100%;
    /* height: 2600px; */
}


h1{
   padding-top: 100px;
   padding-left: 3%;
   color: rgb(0, 0, 0);
   position: absolute;
}

.backhome{
 cursor:pointer;
 position: absolute;
 width: 140px;
 height: 50px;
 border-radius: 40px;
 margin-top: 300px;
 margin-bottom: 80px;
 left: 3%;

 color: aliceblue;
 font-size: 16px;
 text-align: center;
 background-color: rgba(0, 0, 0, 0.781);
 border-color: rgba(255, 255, 255, 0.575);
 border: 2px solid rgba(255, 255, 255, 0.726);
 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

 transition:1s cubic-bezier(0.2, 0.8, 0.2, 1);

}

.backhome:hover{
    color: rgb(253, 253, 253);
    transform: translateY(-5px) scale(1.09);
    box-shadow: #fff 5px; 
}


.p2p1{
    color: #000;
    padding-left: 3%;
    position: absolute;
    padding-top: 150px;
    font-size: 18px;
}

.ic12{
    position: absolute;
    z-index: 1;
}

.Img2{
    width: 94%;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    top: 240px;
}




  
  
@keyframes HeroAnimation {
    0% {
        opacity: 0;
        transform: translateY(20px)
    }
    100% {
        opacity: 1;
        transform: translateY(0px)
    }
  }
  